@font-face {
    font-family: 'Pixel';
    src: url("../Fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf");

    font-family: 'Minecraft';
    src: url("../Fonts/minecraft-font/MinecraftRegular-Bmg3.otf");

    
}



html, body
{
    height: auto;
    font-family: Minecraft;
    font-size: 21px;
    margin : 0;
    display: flex;
    justify-content: center;
}

#sfondo
{
    position: fixed;
    margin : 0;
    background-image: url("../img/SfondoMinimal.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}

#panPrincipale
{
    position : relative;
    margin-top : 40px;
    margin-bottom: 40px;
    width: 80%;
    height: auto;
    border-radius: 35px;
    border-width: 10px;
    border-style: solid;
    background-color: rgba(88, 88, 88, 0.557);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testo
{
    width: 80%;
    height: auto;
    color :azure;
}

.paragrafo
{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.testo_membro
{
    display : flex;
    align-items: center;
}

.Avatar
{
    aspect-ratio: 1 / 1;
    height: 80px;
    border-radius: 45px;
    margin-right: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}

.ID
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Nome
{
    margin-bottom: 0;
}

.Ruoli
{
    margin-top: 0;
}