@font-face {
    font-family: 'Pixel';
    src: url("../Fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf");
    font-family: 'Minecraft';
    src: url("../Fonts/minecraft-font/MinecraftRegular-Bmg3.otf")
}



html, body
{
    height: 100%;
    font-family: Minecraft;
    font-size: 21px;
    margin : 0;
    display: flex;
    justify-content: center;
}

#sfondo
{
    position: fixed;
    margin : 0;
    background-image: url("../img/CroftManor.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
}

#panPrincipale
{
    position : relative;
    margin-top : 40px;
    margin-bottom: 40px;
    width: 80%;
    height: 100%;
    border-radius: 35px;
    border-width: 10px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.557);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testo
{
    width: 80%;
    height: auto;
    color :azure;
}