@font-face {
    font-family: 'Pixel';
    src: url("../Fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf");
    font-family: 'Minecraft';
    src: url("../Fonts/minecraft-font/MinecraftRegular-Bmg3.otf")
}


html, body
{
    font-family: Minecraft;
    margin : 0;
    overscroll-behavior: none;
    display: flex;
    flex-direction: column;
}


#contenitore
{
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    background-image: url("../img/cyberpunk-2077rt.jpg");
    background-size: cover;
    background-position: center;
}


#overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.459);

}

#logo
{
    
    display: flex;
    align-items: center;
}

#imgLogo
{
    width: 250px;
    height: 250px;
    
}

#testoLogo
{
    font-size: 75px;
    color: yellow;
    margin-right: 40px;
}

#barra_intermedia
{
    height : 100px;
    color : cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: black;
}

#Barra_Ricerca
{
    display: flex;
    justify-content: center;
    background-color: yellow;
}

#Input
{
    margin-top: 30px;
    width: 500px;
    height: 40px;
    border: solid black 5px;
    border-radius: 30px;
}

#Griglia
{
    height: auto;
    width: 100%;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,250px));
    align-items: center;
    justify-content: center;
    
}

.collegamenti
{
    margin-top: 60px;
    margin-left : 20px;

    height: 375px;
    width: 250px;
}

.immagini_Giochi
{
    aspect-ratio: 2 / 3;
    width: 80%;
    border: rgb(0, 0, 0) solid 10px;
    border-radius: 5px;
}



