    @font-face {
        font-family: m6x11;
        src: url(../Font/m6x11plus.ttf);
    }
    
    
    
    
    html, body
    {
        color : white;
        font-family: m6x11;
        margin: 0;
    }

    #contenitore
    {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #sfondo
    {
        position: fixed;
        height: 100%;
        width: 100%;
        background-image: url(../Immagini/BalatroWP.png);
        background-size: cover;
        background-position: center;
        
    }

    #pan2
    {
        font-size:18px;
        position: relative;
        margin-top: 50px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 80%;
        background-color: rgba(3, 199, 65, 0.631);
        border-radius: 30px;
        border-width: 10px;
        border-color: rgb(0, 255, 89);
        border-style: solid;
    }

    #logo
    {
        aspect-ratio: 21 / 8;
        height: 300px;
        width: auto;
    }

    #Titolo
    {
        width: 80%;
    }

    #DescrizioneGioco
    {
        width: 80%;
    }

    #Gameplay
    {
        width: 80%;
    }

    #StoriaSviluppo
    {
        width: 80%;
    }

    #StoriaTeam
    {
        width: 80%;
    }

    #DataUscitaPiattaforme
    {
        width: 80%;
    }

    #CuriositaEasterEgg
    {
        width: 80%;
    }

    #AggiornamentiESupporto
    {
        width: 80%;
    }

    #ImpattoCulturale
    {
        width: 80%;
    }

