    @font-face {
        font-family: Skyrim ;
        src: url(../Font/futura-condensed-pt/futura-condensed-pt-medium-589e44ed1e3a5.otf);
    }
    
    
    
    
    html, body
    {
        color : white;
        font-family: Skyrim;
        margin: 0;
    }

    #contenitore
    {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #sfondo
    {
        position: fixed;
        height: 100%;
        width: 100%;
        background-image: url(../Immagini/SkyrimWP1.png);
        background-size: cover;
        background-position: center;
        
    }

    #pan2
    {
        font-size:18px;
        position: relative;
        margin-top: 50px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 80%;
        background-color: rgba(38, 38, 38, 0.631);
        border-radius: 30px;
        border-width: 10px;
        border-color: rgb(0, 0, 0);
        border-style: solid;
    }

    #logo
    {
        margin-top: 40px;
        aspect-ratio: 3 / 1;
        height: auto;
        width: 70%;
    }

    #Titolo
    {
        width: 80%;
    }

    #DescrizioneGioco
    {
        width: 80%;
    }

    #Gameplay
    {
        width: 80%;
    }

    #StoriaSviluppo
    {
        width: 80%;
    }

    #StoriaTeam
    {
        width: 80%;
    }

    #DataUscitaPiattaforme
    {
        width: 80%;
    }

    #CuriositaEasterEgg
    {
        width: 80%;
    }

    #AggiornamentiESupporto
    {
        width: 80%;
    }

    #ImpattoCulturale
    {
        width: 80%;
    }

