    @font-face {
        font-family: Cyberpunk;
        src: url(../Font/Rajdhani/Rajdhani-Bold.ttf);
    }
    
    
    
    
    html, body
    {
        color : white;
        font-family: Cyberpunk;
        margin: 0;
    }

    #contenitore
    {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #sfondo
    {
        position: fixed;
        height: 100%;
        width: 100%;
        background-image: url(../Immagini/Sfondo2.png);
        background-size: cover;
        background-position: center;
        
    }

    #pan2
    {
        font-size:18px;
        position: relative;
        margin-top: 50px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 80%;
        background-color: rgba(255, 0, 0, 0.596);
        border-radius: 30px;
        border-width: 10px;
        border-color: rgb(255, 0, 0);
        border-style: solid;
        color :aqua;
    }

    #logo
    {
        margin-top: 20px;
        aspect-ratio: 4 / 1;
        height: 200px;
        width: auto;
    }

    #Titolo
    {
        width: 80%;
    }

    #DescrizioneGioco
    {
        width: 80%;
    }

    #Gameplay
    {
        width: 80%;
    }

    #StoriaSviluppo
    {
        width: 80%;
    }

    #StoriaTeam
    {
        width: 80%;
    }

    #DataUscitaPiattaforme
    {
        width: 80%;
    }

    #CuriositaEasterEgg
    {
        width: 80%;
    }

    #AggiornamentiESupporto
    {
        width: 80%;
    }

    #ImpattoCulturale
    {
        width: 80%;
    }

